In [2]:
import pandas as pd  # pandas is used to load and perform various activities in the data set .
df = pd.read_csv('customer_shopping_behavior.csv')

In [3]:
df.head()  # This object helps us see the top rows in the data set . Default is 5 rows of data .

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [4]:
df.info()    # To know about the strucutre of the dataset . 
             # Basically for finding the number of rows and columns and the data types of columns  in the dataset and how many are null values .

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [5]:
df.describe()   # This object gives the statistical information of the dataset.
#df.describe(include = 'all')   # This object gives the statistical information of the dataset.
                               # The include = 'all' will give the detail of both the numerical and catergorical data.

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3863.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.750065,25.351538
std,1125.977353,15.207589,23.685392,0.716983,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.800000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [6]:
df.isnull().sum()  # This chain of methods is used to find the total number of null values in each of the columns.

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer_id              3900 non-null   int64
 1   age                      3900 non-null   int64
 2   gender                   3900 non-null   object
 3   item_purchased           3900 non-null   object
 4   category                 3900 non-null   object
 5   purchase_amount          3900 non-null   int64
 6   location                 3900 non-null   object
 7   size                     3900 non-null   object
 8   color                    3900 non-null   object
 9   season                   3900 non-null   object
 10  review_rating            3900 non-null   object
 11  subscription_status      3900 non-null   object
 12  shipping_type            3900 non-null   object
 13  discount_applied         3900 non-null   object
 14  promo_code_used          3900 non-null   object
 15  previous_purchases       3900 non-null   int64
 16  payment_method           3900 non-null   object
 17  frequency_of_purchases   3900 non-null   object
 18  age_group                3900 non-null   object
 19  purchase_frequency_days  3900 non-null   int64
dtypes: int64(5), object(15)
memory usage: 609.5+ KB

In [86]:
df['review_rating'] = pd.to_numeric(df['review_rating'], errors='coerce')

In [88]:
df['review_rating']= df.groupby('category')['review_rating'].transform(lambda x: x.fillna(x.median()))

# This piece of code simply groups the ratings based on their categories and then the medium value is imputted in them according to the medium value of that category.

In [8]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [9]:
df.columns = df.columns.str.lower()          # This changes the column names into small cases 
df.columns = df.columns.str.replace(' ','_') # This puts the underscore in place of space in between column names .
                                             # Overall this piece of code changes the columns names to snake case.

In [10]:
df.info()   # Cheking the columns name for assuring that they are consistent .

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_id             3900 non-null   int64
 1   age                     3900 non-null   int64
 2   gender                  3900 non-null   object
 3   item_purchased          3900 non-null   object
 4   category                3900 non-null   object
 5   purchase_amount_(usd)   3900 non-null   int64
 6   location                3900 non-null   object
 7   size                    3900 non-null   object
 8   color                   3900 non-null   object
 9   season                  3900 non-null   object
 10  review_rating           3900 non-null   object
 11  subscription_status     3900 non-null   object
 12  shipping_type           3900 non-null   object
 13  discount_applied        3900 non-null   object
 14  promo_code_used         3900 non-null   object
 15  previous_purchases      3900 non-null   int64
 16  payment_method          3900 non-null   object
 17  frequency_of_purchases  3900 non-null   object
dtypes: int64(4), object(14)
memory usage: 548.6+ KB

In [11]:
# Since the purchase_amount_(usd) is a bit odd so we will remove the usd from the column name.

df = df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_id             3900 non-null   int64
 1   age                     3900 non-null   int64
 2   gender                  3900 non-null   object
 3   item_purchased          3900 non-null   object
 4   category                3900 non-null   object
 5   purchase_amount         3900 non-null   int64
 6   location                3900 non-null   object
 7   size                    3900 non-null   object
 8   color                   3900 non-null   object
 9   season                  3900 non-null   object
 10  review_rating           3900 non-null   object
 11  subscription_status     3900 non-null   object
 12  shipping_type           3900 non-null   object
 13  discount_applied        3900 non-null   object
 14  promo_code_used         3900 non-null   object
 15  previous_purchases      3900 non-null   int64
 16  payment_method          3900 non-null   object
 17  frequency_of_purchases  3900 non-null   object
dtypes: int64(4), object(14)
memory usage: 548.6+ KB

In [13]:
# Now the columns consistency is achieved .
# Now I will be doing some feature engineering .(Creating, modifying, or selecting useful columns (features) from raw data to help your model or analysis produce better results.)

In [14]:
# Create a column age_group to differentiate the ages into categorical form for the easiness.
# The group is divide into 4 groups classifying the age groups of various people.
labels = ['Young Adult', 'Adult','Middle Aged','Senior']
df['age_group'] = pd.qcut(df['age'], q=4, labels = labels)

In [15]:
df[['age','age_group']].head(10)

   age    age_group
0   55  Middle Aged
1   19  Young Adult
2   50  Middle Aged
3   21  Young Adult
4   45  Middle Aged
5   46  Middle Aged
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57  Middle Aged

In [16]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases', 'age_group'],
      dtype='object')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_id             3900 non-null   int64
 1   age                     3900 non-null   int64
 2   gender                  3900 non-null   object
 3   item_purchased          3900 non-null   object
 4   category                3900 non-null   object
 5   purchase_amount         3900 non-null   int64
 6   location                3900 non-null   object
 7   size                    3900 non-null   object
 8   color                   3900 non-null   object
 9   season                  3900 non-null   object
 10  review_rating           3900 non-null   object
 11  subscription_status     3900 non-null   object
 12  shipping_type           3900 non-null   object
 13  discount_applied        3900 non-null   object
 14  promo_code_used         3900 non-null   object
 15  previous_purchases      3900 non-null   int64
 16  payment_method          3900 non-null   object
 17  frequency_of_purchases  3900 non-null   object
 18  age_group               3900 non-null   category
dtypes: category(1), int64(4), object(14)
memory usage: 552.6+ KB

In [27]:
df.head(10)

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,promo_code_used,previous_purchases,payment_method,frequency_of_purchases,age_group,purchase_frequency_days
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly,Middle Aged,NaN
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly,Young Adult,NaN
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly,Middle Aged,7.0
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly,Young Adult,7.0
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually,Middle Aged,NaN
5,6,46,Male,Sneakers,Footwear,20,Wyoming,M,White,Summer,2.9,Yes,Standard,Yes,Yes,14,Venmo,Weekly,Middle Aged,7.0
6,7,63,Male,Shirt,Clothing,85,Montana,M,Gray,Fall,3.2,Yes,Free Shipping,Yes,Yes,49,Cash,Quarterly,Senior,90.0
7,8,27,Male,Shorts,Clothing,34,Louisiana,L,Charcoal,Winter,3.2,Yes,Free Shipping,Yes,Yes,19,Credit Card,Weekly,Young Adult,7.0
8,9,26,Male,Coat,Outerwear,97,West Virginia,L,Silver,Summer,2.6,Yes,Express,Yes,Yes,8,Venmo,Annually,Young Adult,NaN
9,10,57,Male,Handbag,Accessories,31,Missouri,M,Pink,Spring,4.8,Yes,2-Day Shipping,Yes,Yes,4,Cash,Quarterly,Middle Aged,90.0

In [30]:
# Now creating a column named  purchase_frequency_days

frequency_mapping =
    'Fortnightly': 14,
    'Weekly':7,
    'Monthly':30,
    'Quarterly':90,
    'Bi-Weekly':14,
    'Annually':365,
    'Every 3 Months':90   
}

df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [31]:
df[['purchase_frequency_days','frequency_of_purchases']]

      purchase_frequency_days frequency_of_purchases
0                          14            Fortnightly
1                          14            Fortnightly
2                           7                 Weekly
3                           7                 Weekly
4                         365               Annually
...                       ...                    ...
3895                        7                 Weekly
3896                       14              Bi-Weekly
3897                       90              Quarterly
3898                        7                 Weekly
3899                       90              Quarterly

[3900 rows x 2 columns]

In [33]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases', 'age_group',
       'purchase_frequency_days'],
      dtype='object')

In [34]:
df[['discount_applied','promo_code_used']]

     discount_applied promo_code_used
0                 Yes             Yes
1                 Yes             Yes
2                 Yes             Yes
3                 Yes             Yes
4                 Yes             Yes
...               ...             ...
3895               No              No
3896               No              No
3897               No              No
3898               No              No
3899               No              No

[3900 rows x 2 columns]

In [35]:
(df['discount_applied'] == df['promo_code_used']).all()

True

In [36]:
## Now removing the column promo_code_used as both the columns are same with different names.

df.drop('promo_code_used',axis=1)

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group,purchase_frequency_days
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,14,Venmo,Fortnightly,Middle Aged,14
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,2,Cash,Fortnightly,Young Adult,14
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,23,Credit Card,Weekly,Middle Aged,7
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,49,PayPal,Weekly,Young Adult,7
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,31,PayPal,Annually,Middle Aged,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,2-Day Shipping,No,32,Venmo,Weekly,Adult,7
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,Store Pickup,No,41,Bank Transfer,Bi-Weekly,Middle Aged,14
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Standard,No,24,Venmo,Quarterly,Middle Aged,90
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,24,Venmo,Weekly,Adult,7
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,33,Venmo,Quarterly,Middle Aged,90

In [37]:
## Now connecting the postgress with the jupyter notebook.

In [41]:
pip install psycopg2-binary sqlalchemy

Requirement already satisfied: psycopg2-binary in d:\anaconda\lib\site-packages (2.9.11)
Requirement already satisfied: sqlalchemy in d:\anaconda\lib\site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in d:\anaconda\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in d:\anaconda\lib\site-packages (from sqlalchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [49]:
from sqlalchemy import create_engine
import urllib.parse
# Step 1: Connect to postgreSQL.
username = 'postgres'
password = urllib.parse.quote_plus('KhadaNanda@0614')
host = 'localhost'
port = '5432'
database = 'customer_behaviour'


engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")

# Step 2: Load Dataframe into PostgreSQl

table_name = 'customer'

df.to_sql(table_name, engine, if_exists = "replace", index= False)

print(f"Data sucessfully loaded into the table '{table_name}' in database '{database}'")

ProgrammingError: (psycopg2.ProgrammingError) can't adapt type 'method'
[SQL: INSERT INTO customer (customer_id, age, gender, item_purchased, category, purchase_amount, location, size, color, season, review_rating, subscription_status, shipping_type, discount_applied, promo_code_used, previous_purchases, payment_method, freque ... 461759 characters truncated ... ethod__999)s, %(frequency_of_purchases__999)s, %(age_group__999)s, %(purchase_frequency_days__999)s)]
[parameters: {'discount_applied__0': 'Yes', 'review_rating__0': 3.1, 'size__0': 'L', 'promo_code_used__0': 'Yes', 'category__0': 'Clothing', 'color__0': 'Gray', 'previous_purchases__0': 14, 'subscription_status__0': 'Yes', 'customer_id__0': 1, 'age__0': 55, 'season__0': 'Winter', 'shipping_type__0': 'Express', 'payment_method__0': 'Venmo', 'purchase_frequency_days__0': 14, 'age_group__0': 'Middle Aged', 'purchase_amount__0': 53, 'frequency_of_purchases__0': 'Fortnightly', 'item_purchased__0': 'Blouse', 'location__0': 'Kentucky', 'gender__0': 'Male', 'discount_applied__1': 'Yes', 'review_rating__1': 3.1, 'size__1': 'L', 'promo_code_used__1': 'Yes', 'category__1': 'Clothing', 'color__1': 'Maroon', 'previous_purchases__1': 2, 'subscription_status__1': 'Yes', 'customer_id__1': 2, 'age__1': 19, 'season__1': 'Winter', 'shipping_type__1': 'Express', 'payment_method__1': 'Cash', 'purchase_frequency_days__1': 14, 'age_group__1': 'Young Adult', 'purchase_amount__1': 64, 'frequency_of_purchases__1': 'Fortnightly', 'item_purchased__1': 'Sweater', 'location__1': 'Maine', 'gender__1': 'Male', 'discount_applied__2': 'Yes', 'review_rating__2': 3.1, 'size__2': 'S', 'promo_code_used__2': 'Yes', 'category__2': 'Clothing', 'color__2': 'Maroon', 'previous_purchases__2': 23, 'subscription_status__2': 'Yes', 'customer_id__2': 3, 'age__2': 50 ... 19900 parameters truncated ... 'season__997': 'Spring', 'shipping_type__997': 'Express', 'payment_method__997': 'Cash', 'purchase_frequency_days__997': 14, 'age_group__997': 'Senior', 'purchase_amount__997': 30, 'frequency_of_purchases__997': 'Fortnightly', 'item_purchased__997': 'Pants', 'location__997': 'Kentucky', 'gender__997': 'Male', 'discount_applied__998': 'Yes', 'review_rating__998': 3.8, 'size__998': 'M', 'promo_code_used__998': 'Yes', 'category__998': 'Footwear', 'color__998': 'White', 'previous_purchases__998': 48, 'subscription_status__998': 'Yes', 'customer_id__998': 999, 'age__998': 51, 'season__998': 'Spring', 'shipping_type__998': 'Next Day Air', 'payment_method__998': 'Bank Transfer', 'purchase_frequency_days__998': 14, 'age_group__998': 'Middle Aged', 'purchase_amount__998': 90, 'frequency_of_purchases__998': 'Bi-Weekly', 'item_purchased__998': 'Shoes', 'location__998': 'Connecticut', 'gender__998': 'Male', 'discount_applied__999': 'Yes', 'review_rating__999': 2.9, 'size__999': 'L', 'promo_code_used__999': 'Yes', 'category__999': 'Clothing', 'color__999': 'Brown', 'previous_purchases__999': 23, 'subscription_status__999': 'Yes', 'customer_id__999': 1000, 'age__999': 50, 'season__999': 'Spring', 'shipping_type__999': 'Standard', 'payment_method__999': 'Debit Card', 'purchase_frequency_days__999': 30, 'age_group__999': 'Middle Aged', 'purchase_amount__999': 28, 'frequency_of_purchases__999': 'Monthly', 'item_purchased__999': 'Socks', 'location__999': 'New Mexico', 'gender__999': 'Male'}]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer_id              3900 non-null   int64
 1   age                      3900 non-null   int64
 2   gender                   3900 non-null   object
 3   item_purchased           3900 non-null   object
 4   category                 3900 non-null   object
 5   purchase_amount          3900 non-null   int64
 6   location                 3900 non-null   object
 7   size                     3900 non-null   object
 8   color                    3900 non-null   object
 9   season                   3900 non-null   object
 10  review_rating            3900 non-null   object
 11  subscription_status      3900 non-null   object
 12  shipping_type            3900 non-null   object
 13  discount_applied         3900 non-null   object
 14  promo_code_used          3900 non-null   object
 15  previous_purchases       3900 non-null   int64
 16  payment_method           3900 non-null   object
 17  frequency_of_purchases   3900 non-null   object
 18  age_group                3900 non-null   category
 19  purchase_frequency_days  3900 non-null   int64
dtypes: category(1), int64(5), object(14)
memory usage: 583.0+ KB

In [51]:
df[['age_group']]

        age_group
0     Middle Aged
1     Young Adult
2     Middle Aged
3     Young Adult
4     Middle Aged
...           ...
3895        Adult
3896  Middle Aged
3897  Middle Aged
3898        Adult
3899  Middle Aged

[3900 rows x 1 columns]

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer_id              3900 non-null   int64
 1   age                      3900 non-null   int64
 2   gender                   3900 non-null   object
 3   item_purchased           3900 non-null   object
 4   category                 3900 non-null   object
 5   purchase_amount          3900 non-null   int64
 6   location                 3900 non-null   object
 7   size                     3900 non-null   object
 8   color                    3900 non-null   object
 9   season                   3900 non-null   object
 10  review_rating            3900 non-null   object
 11  subscription_status      3900 non-null   object
 12  shipping_type            3900 non-null   object
 13  discount_applied         3900 non-null   object
 14  promo_code_used          3900 non-null   object
 15  previous_purchases       3900 non-null   int64
 16  payment_method           3900 non-null   object
 17  frequency_of_purchases   3900 non-null   object
 18  age_group                3900 non-null   category
 19  purchase_frequency_days  3900 non-null   int64
dtypes: category(1), int64(5), object(14)
memory usage: 583.0+ KB

In [53]:
# Faced error i.e the postgress database doesn't support the category data type. 
# So converting the data type of the age group to the string
df['age_group'] = df['age_group'].astype(str)

In [89]:
from sqlalchemy import create_engine
import urllib.parse
# Step 1: Connect to postgreSQL.
username = 'postgres'
password = urllib.parse.quote_plus('KhadaNanda@0614')
host = 'localhost'
port = '5432'
database = 'customer_behaviour'


engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")

# Step 2: Load Dataframe into PostgreSQl

table_name = 'customer'

df.to_sql(table_name, engine, if_exists = "replace", index= False)

print(f"Data sucessfully loaded into the table '{table_name}' in database '{database}'")

Data sucessfully loaded into the table 'customer' in database 'customer_behaviour'

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer_id              3900 non-null   int64
 1   age                      3900 non-null   int64
 2   gender                   3900 non-null   object
 3   item_purchased           3900 non-null   object
 4   category                 3900 non-null   object
 5   purchase_amount          3900 non-null   int64
 6   location                 3900 non-null   object
 7   size                     3900 non-null   object
 8   color                    3900 non-null   object
 9   season                   3900 non-null   object
 10  review_rating            3900 non-null   object
 11  subscription_status      3900 non-null   object
 12  shipping_type            3900 non-null   object
 13  discount_applied         3900 non-null   object
 14  promo_code_used          3900 non-null   object
 15  previous_purchases       3900 non-null   int64
 16  payment_method           3900 non-null   object
 17  frequency_of_purchases   3900 non-null   object
 18  age_group                3900 non-null   object
 19  purchase_frequency_days  3900 non-null   int64
dtypes: int64(5), object(15)
memory usage: 609.5+ KB

In [71]:
for col in df.columns:
    if df[col].apply(callable).any():
        print(f"Column '{col}' contains a method/function!")

Column 'review_rating' contains a method/function!
Column 'Review Rating' contains a method/function!

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer_id              3900 non-null   int64
 1   age                      3900 non-null   int64
 2   gender                   3900 non-null   object
 3   item_purchased           3900 non-null   object
 4   category                 3900 non-null   object
 5   purchase_amount          3900 non-null   int64
 6   location                 3900 non-null   object
 7   size                     3900 non-null   object
 8   color                    3900 non-null   object
 9   season                   3900 non-null   object
 10  review_rating            3900 non-null   object
 11  subscription_status      3900 non-null   object
 12  shipping_type            3900 non-null   object
 13  discount_applied         3900 non-null   object
 14  promo_code_used          3900 non-null   object
 15  previous_purchases       3900 non-null   int64
 16  payment_method           3900 non-null   object
 17  frequency_of_purchases   3900 non-null   object
 18  age_group                3900 non-null   object
 19  purchase_frequency_days  3900 non-null   int64
 20  Review Rating            3900 non-null   object
dtypes: int64(5), object(16)
memory usage: 640.0+ KB

In [83]:
df.drop('Review Rating',axis = 1 ,inplace= True)

In [84]:
for col in df.columns:
    if df[col].apply(callable).any():
        print(f"Column '{col}' contains a method/function!")

Column 'review_rating' contains a method/function!

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer_id              3900 non-null   int64
 1   age                      3900 non-null   int64
 2   gender                   3900 non-null   object
 3   item_purchased           3900 non-null   object
 4   category                 3900 non-null   object
 5   purchase_amount          3900 non-null   int64
 6   location                 3900 non-null   object
 7   size                     3900 non-null   object
 8   color                    3900 non-null   object
 9   season                   3900 non-null   object
 10  review_rating            3900 non-null   object
 11  subscription_status      3900 non-null   object
 12  shipping_type            3900 non-null   object
 13  discount_applied         3900 non-null   object
 14  promo_code_used          3900 non-null   object
 15  previous_purchases       3900 non-null   int64
 16  payment_method           3900 non-null   object
 17  frequency_of_purchases   3900 non-null   object
 18  age_group                3900 non-null   object
 19  purchase_frequency_days  3900 non-null   int64
 20  Review Rating            3900 non-null   object
dtypes: int64(5), object(16)
memory usage: 640.0+ KB